<%- include("partials/header") %>
<div class="container center">
  <!-- <h2>Home</h2> -->
  <div class="jumbotron jumbotron-fluid jumbo">
    <div class="container">
      <h1 class="display-4">
        Honeypot system design to trace IP address behind VPN or proxy servers
      </h1>
      <div class="jumbo2">
        <p class="lead roll">
          Sankalp Pandey - 72
          <br />
          Rahul Agrawal - 59
          <br />
          Afra Sayed - 01
          <br />
          Yash Roy - 82
          <br />
        </p>
        <p class="lead roll">
          <b>Project Guide</b>
          <br />
          Prof. Devishree Naidu
        </p>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
